absl-py
antlr4-python3-runtime
asttokens
autopep8
backcall
cachetools
certifi
charset-normalizer
chex
cloudpickle
cmake
comm
contourpy
cycler
debugpy
decorator
dill
dm-haiku
einops
etils
exceptiongroup
executing
filelock
fire
flax
fonttools
fsspec
google-auth
google-auth-oauthlib
graphviz
grpcio
huggingface-hub
idna
importlib-resources
iniconfig
inverse-tracr
ipykernel
ipython
jax==0.4.13
jax-smi==1.0.3
jaxlib==0.4.13+cuda11.cudnn86
jedi
Jinja2
jmp
jupyter_client
jupyter_core
kaleido
kiwisolver
lit
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
ml-dtypes
mpmath
msgpack
nest-asyncio
networkx
numpy
oauthlib
opt-einsum
optax
orbax-checkpoint
packaging
pandas
parso
pexpect
pickleshare
Pillow
pip
platformdirs
plotly
pluggy
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyasn1
pyasn1-modules
pycodestyle
Pygments
pyparsing
pytest
python-dateutil
pytz
PyYAML
pyzmq
regex
requests
requests-oauthlib
rich
rsa
safetensors
scipy
seaborn
setuptools
six
stack-data
sympy
tabulate
tenacity
tensorboard
tensorboard-data-server
tensorstore
termcolor
tokenizers
tomli
toolz
torch
torch-tb-profiler
tornado
tqdm
tracr
traitlets
transformers
triton
typing_extensions
tzdata
urllib3
wcwidth
Werkzeug
wheel
zipp
